<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Stromverbrauchsrechner</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Stromverbrauchsrechner</h1>
    
        <!-- In /templates/index.html -->
    <form id="energyForm">
    <label for="watt">Wattzahl des Geräts:</label>
    <input type="number" id="watt" name="watt" required>

    <label for="hours">Pro Stunden:</label>
    <input type="number" id="hours" name="hours" required>

    <label for="costPerKWh">Kosten pro kWh (in Cent):</label>
    <input type="number" id="costPerKWh" name="costPerKWh" required>

    <button type="submit">Berechnen</button>
 </form>
        <div id="result"></div>
    </div>
    <script src="/static/script.js"></script>
    <footer>
        <p>Copyright © 2024 Abdulhalim Alnasani. Have FUN.</p>
    </footer>
</body>
</html>
